Repository HAMcat00/minamoto-lp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @E1, @FrontendDev, @Designer

feat: Add infrastructure setup files and documentation
  .github/workflows/lighthouse.yml
  .github/workflows/pr-check.yml
  PERFORMANCE_STRATEGY.md
  QUICK_START.sh
  SETUP_GUIDE.md
  TESTING_GUIDE.md
  WEBHOOK_DESIGN.md
  index.html
  js/main.js
  js/tracking.js
  minamoto-lp-starter.zip
  minamoto-lp-starter/.github/PULL_REQUEST_TEMPLATE.md
  minamoto-lp-starter/CODEOWNERS
  minamoto-lp-starter/docs/README.md
  minamoto-lp-starter/index.html
  minamoto-lp-starter/main.js
  minamoto-lp-starter/public/images/concept.webp
  minamoto-lp-starter/public/images/diff.webp
  minamoto-lp-starter/public/images/hero.webp
  minamoto-lp-starter/public/images/ogp.jpg
  minamoto-lp-starter/public/images/qr-placeholder.png
  minamoto-lp-starter/robots.txt
  minamoto-lp-starter/sitemap.xml
  minamoto-lp-starter/style.css
  minamoto-lp-starter/vercel.json
  script.js
  styles.css
Owners: @E1, @FrontendDev

feat(infra): Add deployment guide and optimize vercel.json
  DEPLOYMENT_GUIDE.md
  E5_COMPLETION_REPORT.md
  GA4_TRACKING_SPEC.md
  TESTING_GUIDE.md
  WEBHOOK_DESIGN.md
  css/styles.css
  index.html
  lighthouserc.json
  main.js
  package.json
  robots.txt
  scripts/build.js
  scripts/test-seo.js
  sitemap.xml
  styles.css
  vercel.json
  源LP_Asana_インポート.csv
  源LP_Trello_インポート.csv
Owners: @E1, @FrontendDev

docs(infra): Add E1 infrastructure status report
  E1_INFRASTRUCTURE_STATUS.md
Owners: @E1

feat: Add E2/E3/E4 implementation updates and assets
  .gitignore
  E2_UI_IMPROVEMENTS.md
  E3_IMPLEMENTATION_COMPLETE.md
  E4_DEVICE_TEST.md
  E4_完了報告.md
  README.md
  SOCIAL_SHARE_COPY.md
  config.example.js
  index.html
  public/images/README.md
  public/images/ogp.svg
  public/images/placeholders/delivery.svg
  public/images/placeholders/karaage-closeup.svg
  public/images/placeholders/line-order.svg
  public/images/placeholders/map.svg
  public/images/qr-placeholder.svg
  script.js
  実機テスト_簡易チェックリスト.md
Owners: @E1, @FrontendDev, @Designer

docs(infra): Add deployment readiness checklist
  READY_TO_DEPLOY.md
Owners: @E1

docs(infra): E1 Final Report - Infrastructure Complete
  E1_FINAL_REPORT.md
Owners: @E1

feat: Final integration - All teams complete
  COMPLETION_REPORT.md
  E5_REAL_IMAGE_COMPLETION.md
  PERFORMANCE_STRATEGY.md
  index.html
  js/main.js
  js/tracking.js
  package.json
  public/images/IMAGE_REPLACEMENT_GUIDE.md
  public/images/concept.svg
  public/images/hero.svg
  public/images/ogp.jpg.svg
  scripts/vercel-build.js
  scripts/verify-dod.js
  vercel-env-setup.md
  vercel.json
Owners: @E1, @FrontendDev, @Designer

docs(infra): Add step-by-step deployment procedure
  DEPLOYMENT_STEPS.md
Owners: @E1

feat: Final integration - All teams complete with DoD verification
  E2_FINAL_VERIFICATION.md
  E3_完了報告_DoD検証.md
  E3_最終完了報告.md
  E4_実機テスト_最終チェックリスト.md
  E4_実機テスト実施ガイド.md
  E4_最終完了レポート.md
  config.production.js
  index.html
  package.json
  script.js
  scripts/vercel-build.js
  styles.css
  test-evidence/README.md
  test-evidence/export-logs.html
  test-evidence/test-report-template.md
Owners: @E1, @FrontendDev

feat: 完全無欠化フェーズ完了
  index.html
  js/ab-testing.js
  js/analytics-dashboard.js
  js/main.js
  minamoto-lp-complete.zip
  minamoto-lp-complete/docs/AB_TEST_PLAN.md
  minamoto-lp-complete/docs/ROADMAP_LOCAL.md
  minamoto-lp-complete/docs/USAGE_LOCAL.md
  minamoto-lp-complete/index.html
  minamoto-lp-complete/public/images/concept.svg
  minamoto-lp-complete/public/images/diff.svg
  minamoto-lp-complete/public/images/hero.svg
  minamoto-lp-complete/public/images/ogp.svg
  minamoto-lp-complete/public/images/qr.svg
  minamoto-lp-complete/scripts/config.example.js
  minamoto-lp-complete/scripts/main.js
  minamoto-lp-complete/style.css
  styles.css
  完全無欠化チェックリスト.md
Owners: @E1, @FrontendDev

feat: Vercel Speed Insights追加
  index.html
Owners: @E1, @FrontendDev

fix: Vercel設定を静的サイト用に最適化
  vercel.json
Owners: @E1

chore(vercel): add vercel.json & make asset/script paths relative
  index.html
  scripts/config.js
  vercel.json
Owners: @E1, @FrontendDev

fix: place index.html at repo root for Vercel static deploy
  .gitignore
  minamoto-lp-complete.zip
  minamoto-lp-complete/docs/AB_TEST_PLAN.md
  minamoto-lp-complete/docs/ROADMAP_LOCAL.md
  minamoto-lp-complete/docs/USAGE_LOCAL.md
  minamoto-lp-complete/index.html
  minamoto-lp-complete/public/images/concept.svg
  minamoto-lp-complete/public/images/diff.svg
  minamoto-lp-complete/public/images/hero.svg
  minamoto-lp-complete/public/images/ogp.svg
  minamoto-lp-complete/public/images/qr.svg
  minamoto-lp-complete/scripts/config.example.js
  minamoto-lp-complete/scripts/main.js
  minamoto-lp-complete/style.css
  package-lock.json
  package.json
Owners: @E1

chore: move static site under /public and fix asset paths
  public/css/styles.css
  public/index.html
  public/js/ab-testing.js
  public/js/analytics-dashboard.js
  public/js/main.js
  public/js/tracking.js
  public/scripts/build.js
  public/scripts/config.js
  public/scripts/test-seo.js
  public/scripts/vercel-build.js
  public/scripts/verify-dod.js
Owners: @E1, @Designer

fix: add Vercel rewrites for public directory structure
  vercel.json
Owners: @E1

Revert "chore: move static site under /public and fix asset paths"
  css/styles.css
  index.html
  js/ab-testing.js
  js/analytics-dashboard.js
  js/main.js
  js/tracking.js
  scripts/build.js
  scripts/config.js
  scripts/test-seo.js
  scripts/vercel-build.js
  scripts/verify-dod.js
  vercel.json
Owners: @E1, @FrontendDev

fix: simplify vercel.json for static deployment
  vercel.json
Owners: @E1

fix: add index.html to root for Vercel deployment
  index.html
Owners: @E1, @FrontendDev

chore(vercel): serve /public via static build & routes
  vercel.json
Owners: @E1

fix: remove cleanUrls to resolve Vercel routing conflict
  vercel.json
Owners: @E1

feat: スワイプ型LP化＋離脱深掘り計測実装
  public/css/swipe.css
  public/index-swipe.html
  public/js/analytics.js
  public/js/swipe.js
Owners: @E1, @Designer

docs: Vercelデプロイ手順書を追加
  VERCEL_DEPLOY.md
Owners: @E1

feat: ヒーローセクション実装（3秒ルール対応）
  public/hero-section.html
Owners: @E1, @Designer

Refactor: Move JS logic to dedicated files
  e4-integration.js
  index.html
  public/index.html
  public/js/main.js.backup
  public/js/ui-core.js
Owners: @E1, @FrontendDev, @Designer

.github/CODEOWNERS:

# CODEOWNERS - Code Review Assignment
# This file defines who is responsible for code review in this repository
# E1 (Lead Architect/Infra) is required for all changes

# Default: All files require E1 review
* @E1

# Infrastructure and configuration files
/.github/ @E1
/vercel.json @E1
/.gitignore @E1

# HTML structure
/index.html @E1 @FrontendDev

# Styles
/style.css @E1 @Designer

# JavaScript
/main.js @E1 @FrontendDev

# Images and assets
/public/ @E1 @Designer

# Documentation
/docs/ @E1
/README.md @E1
